/*Everything properties*/
* {
    box-sizing: border-box;
}
html, body {
    font-size: 12px;
}

body {
    min-height: 100vh;
    background: linear-gradient(#fc81ec,#fac8f3);
}

#container {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "DejaVu Sans", sans-serif;

}
#header {
    font-size: 1.25rem;

}

#mainButton:hover  {
    cursor: pointer;
    background-color: #ac81ec;
}
#mainButton{
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
    border: 2px solid #2b2929;
    border-radius: 5px;
    background-color: #8c29cf;
    transform: translate(0, -10rem);




}